{% extends 'base.html.twig' %}

{% block title %}Nouveau Character{% endblock %}

{% block body %}
    <h1>Créer un nouveau Character</h1>

    {{ include('character/_form.html.twig') }}

<a href="{{ path('app_select_character') }}">Retour à la liste</a>
{% endblock %}
